body {
  font-family: Arial, sans-serif;
  margin: 0;
  background: #c7dae0;
  color: #333;
}
header {
  background: #4f46e5;
  color: #fff;
  text-align: center;
  padding: 2rem 1rem;
}
#about,#skills,#projects,#resume, #contact {

  padding: 2rem 1rem;
  max-width: 800px;
  margin: auto;
}
#resume,#skills,#projects,#contact {
  background: #b1c0d2;
  margin-bottom: 1rem;
  border-radius: 8px;
}
#about {
  background-color: #c7dae0;
  display: flex;
  gap: 1rem;
  align-items: center;
}
#about img {
  border-radius: 50%;
}
ul { list-style: none; padding: 0; }
.project { background: #e1ecd9; padding: 1rem; margin: 0.5rem 0; border-radius: 8px; box-shadow: 0 1px 3px rgba(0,0,0,0.1); }
a { color: #4f46e5; text-decoration: none; }
footer {
  text-align: center;
  background: #222;
  color: #fff;
  padding: 1rem;
}
@media (max-width:600px){#about{flex-direction:column;text-align:center;}}
